@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    font-family:"Playfair Display", serif;
  }
    /* nav bar*/
    .navbar {
        transition: background-color 0.3s ease;
      }
      
      .navbar-brand img {
        max-height: 50px; 
      }

.navbar-brand img {
    max-width: 100%; /*this will make logo doesnt exceed the size intended */
    height: auto; /* Allow the height to adjust proportionally */
  }
  
      
      /* Landing Page */
      .section {
        padding: 50px 0;
      }
      
      .line {
        width: 100px;
        height: 3px;
        background-color: #333;
        margin-top: 20px;
      }
      
     
     